* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'DM Sans', sans-serif;
  /*outline: 1px solid red;*/
}

body {
  background-color: #1F2023;
}

body p{
  color: #fff;
}

/*NAV*****/

header {
	min-height: 15vh;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 0 20px;
  position: fixed;
	background-color: rgb(243, 243, 243);
	box-shadow: 2px 8px 32px -4px rgba(0,0,0,0.30);
	z-index: 100;
}

#logo {
  width: 100px;
  height: auto;
}

nav{
  max-width: 1440px;
  width: 100%;
  min-height: 15vh;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  top: 0;
  padding: 0 80px;
  position: fixed; 
  background-color: rgb(243, 243, 243);
}

nav .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: none;
} 

.menu li{
  list-style: none;
}

.menu li a {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(26, 25, 25);
  text-decoration: none;
  text-align: center;
}

.menu li:hover a {
  color:  #000000;
  font-weight: bold;
}

.menu .active {
  color: #f7793e;
  font-weight: bold;
}

/*NAV TOGGLE*****/

.nav__toggle {
	display: none;
	position: absolute;
	cursor: pointer;
	margin: 0.1rem;
	right: 20px; 
}

.nav__toggle i{
	width: 1rem;
	color: #ee4b00;
}

.nav__checkbox {
	display: none;
}

#nav__checkbox:checked ~ .menu {
	background-color: rgb(243, 243, 243);
	padding-top: 40px;
}

#nav__checkbox:checked ~ .menu li {
	display: block;
}

@media only screen and (max-width: 767.98px) {
	.nav__toggle {
			display: block;
	}

	nav {
		height: 100px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: rgb(243, 243, 243);
		box-shadow: 2px 8px 32px -4px rgba(0,0,0,0.30);
		position: fixed;
		z-index: 3; 
	}

	nav .menu {
		flex-direction: column;
		flex-wrap: wrap;
		gap: 20px;
		align-items: center;
		position: fixed;
		text-align: center;
		top: 102px;
		width: 100%;
		transition: all .5s;
		/* height: 100vh; */
    padding-bottom: 40px;
	}
	
	.menu li{
		display: none;
		align-items: center;
	}

	#logo {
		left: 20px;
		position: fixed;
	}
}

/*MAIN GENERAL*****/

main {
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1F2023;
	padding-top: 103.56px;
  margin: auto;
}

.main-max {
  min-height: 85vh;
  width: 100%;
  max-width: 1440px;
}

/*HOME*****/

.banner {
	top: 0;
  min-height: 513px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  background-image: url(../assets/img/design1_image1.jpg);
  background-size: cover;
  background-position: center;
	position: relative;
}

.back {
	top: 0;
	height: 100%;
	width: 422px;
	min-width: 222px;
	background-color: rgba(19, 19, 19, 0.75);
	z-index: 10;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
  font-size: 6rem;
  color: white;
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  line-height: 78px;
}

.events {
  padding: 60px 80px 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bi-caret-right-fill {
  color:#f7793e;
  font-size: 14px;
  margin-right: 8px;
}

.title-section{
  width: 100%;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

article {
  width: 380px;
  height: 200px;
  margin: 10px 0px;
  padding: 8px;
}

article h4 {
  font-size: 20px;
  color: #f7793e;
  padding: 10px 0px;   
  border-bottom: 1px solid #f7793e; 
}

.events p {
  margin-top: 20px;
  padding-bottom: 10px;
  color: #fff;
}

.text {
  color: rgb(190 190 190);
  font-size: 14px;
  margin-top: 15px;
}

@media only screen and (max-width: 919px) {
	main {
		display: block;
	}

	h1 { 
		font-size: 5rem;
	}

	.back {
		width: 100%;
	}

	.events {
		justify-content: center;
	}

	.title-section {
		text-align: center;
	}
}

/*GAME INFO**********/

.main-game {
  justify-content: space-between;
}

.title {
  font-size: 40px;
  color: white;
  padding: 90px 0px 20px 80px; 
}

.subtitle-game{
  padding: 20px 0px 20px 80px;
  color: #f7793e;
}

.subtitle-game p {
  font-style: italic;
}

.all-table{    
  padding: 78px 80px 30px 80px;
}    

.table-container {
  display: flex;
  flex-basis: 500px;
  overflow-x: scroll;
  max-width: 100%;
}  

.border {
  border: 4px solid #f7793e;
  min-height: 600px;
  position: relative;
  left: 300px;
  top:0px;
  z-index: 1;
}

table, th, td {
  border: 2px solid #1F2023;
  border-collapse: collapse;
}

tr {
  padding: 5px;
}

th {
  background-color:#f7793e;
  padding: 10px;
}

td {
  background-color: #313236;
  padding: 20px 35px;
  color: #fff;
}

.map {
  padding: 0px;
}

iframe {
  height: 90px;
  width: 150px;
}

iframe:hover {
  height: 140px;
  width: 200px;
  transition: all 1s ease 0s;
}

.data-game {
  padding: 30px 0px 30px 0px;
}

.data-game a{
  color: #f7793e;
  text-decoration: none;
}

@media only screen and (max-width: 1245px) {
  .all-table{    
    padding: 35px 80px 30px 80px;
  } 
}

@media only screen and (max-width: 767.98px) {
  .all-table{    
    padding: 28px 30px 30px 30px;
  }   
  
  .title {
    padding: 34px 0px 20px 30px; 
  }
  
  .subtitle-game{
    padding: 20px 0px 20px 30px;
  }

  table {
    margin-right: 30px;
  }
}

/*ABOUT**********/

.main_about {
  padding: 194px 80px 125px 80px;
  gap: 50px;
  justify-content: space-between;
  align-content: end;
}

.title-aboutt{
  color: #fff;
  font-size: 40px;
  align-self: end;
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}

.gallery img{
  width: 300px;
}

.gallery img:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.about {
  padding-bottom: 20px;
}

.about h3{
  font-size: 25px;
  color: #f7793e;
  padding: 12px 0px;
}

@media only screen and (max-width: 1223px) {
  .gallery {
    flex-direction: row;
  }
}

@media only screen and (max-width: 919px) {
  .title-aboutt {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767.98px) {
  .main_about {
    padding: 138px 30px 125px 30px;
    justify-content: center;
  }

  .title-aboutt {
    padding-bottom: 30px;
  }

  .all-about {
    padding-top: 30px;
  }
}

/*RULES**********/
.rules_img {
  width: 500px;
  height: 650px;
  object-fit: contain;
  padding-left: 14px;
  padding-top: 30px;
}

.section-rules {
  width: 60%;
  padding: 80px;
  color: #fff;
}

.rules {
  padding: 20px 0px;
}

.title-rules {
  font-size: 40px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.rules h4, dt {
  color: #f7793e;
  margin-bottom: 20px;
  justify-self: center;
  width: 100%;
}

.rules ol li {
  padding-bottom: 15px;
}

@media only screen and (max-width: 1249px) {
  .section-rules{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
  }

  .main_rules {
    display: flex;
    align-content: center;
    gap: 30px;
  }

  .rules_img {
    padding-left: 0;
  }
}

@media only screen and (max-width: 530px) {
  .rules_img {
    width: 400px;
    height: 550px;
  }
}

@media only screen and (max-width: 457px) {
  .rules_img {
    padding: 0 20px;
    width: 300px;
    height: 450px;
  }

  .main_rules {
    gap: 0px;
  }
}

/*REGISTER**********/

.tooo{
  width: 50%;
}

.main_register{
  padding-bottom: 120px;
}

.title-register{
  color:rgb(243, 243, 243);
  padding: 90px 0px 0px 85px;
  font-size: 40px;
}

form {
  padding: 48px 0px 0px 80px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

fieldset {
  padding: 0.5rem;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #f7793e;
  font-size: 16px;
  color: white;
  text-align: center;
}

label {
  padding: 0px 3px;
}

legend {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 7px;
}

form h5 {
  padding-bottom: 10px;
}

.padding-radio {
  margin-left: 21px;
}

.btn-submit {
  font-size: 18px;
  font-weight: bold;
  background-color: #f7793e;
  padding: 5px;
  margin-top: 12px;
  cursor: pointer; 
  border: none;
}

.btn-submit:hover {
  background-color: #ee4b00;
}

.hockey-text-img{
  width: 50%; 
}

.hockey-text-img img{
  width: 90%;
  object-fit: contain;
  padding-top: 60px;
}

@media only screen and (max-width: 991.98px) {
  .main_register {
    display: flex;
    justify-content: center;
  }

  .tooo{
      width: 100%;
      padding-right: 80px;
      order: 1;
  }

  .title-register{
    padding: 50px 0 0 80px;
  }

  .hockey-text-img{
      width: 60%;
      display: flex;
      justify-content: center;
  }

  .hockey-text-img img{
    width: 90%;
  }
}

@media only screen and (max-width: 767.98px) {
  .main_register {
    padding-top: 63.56px;
  }

	.tooo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    order: 1;
    padding: 0 17px;
	}

  .title-register {
    padding-bottom: 40px;
    text-align: start;
    padding: 0 0 32px 0 ;
  }

	.hockey-text-img{
		width: 70%;
    padding-bottom: 34px;
	}

	.hockey-text-img img{
		width: 90%;
	}

  form {
		padding: 0;
	} 
}

/*CONTACT**********/

.main_contact {
  align-items: center;
}

.contact{
  background-color: #1F2023;
  display: flex;
  flex-direction: column;
  flex: 30%;
  height: 87vh;
  padding-left: 80px;
  justify-content: center;
}

.contact p a{
  color: #f7793e;
  text-decoration: none;
  font-weight: bold;
}

.container-img-contact{
  display: flex;
  flex: 70%;
  height: 87vh;
  background-image: url(../assets/img/hockey1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container-img-contact:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 673px solid transparent;
  border-left: 105px solid #1F2023;
}

@media only screen and (max-width: 919px) {
  .contact {
    height: 40vh;
    align-content: center;
    padding: 0 20px;
    flex-direction: column;
  }

  .contact p {
    text-align: center;
  }

  .container-img-contact:before {
    display: none;
  }
}
